.section {
  width: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  height: 100vh;
  background-color: #fcf6f3;
}

.container {
  width: 95%;
  margin: auto;
}

.texts {
  width: 100%;

  font-family: Fraunces;
  font-size: 80px;
  font-weight: 350;
  line-height: 98.64px;
}